@model BaiTap.Models.DonHang

@{
    ViewBag.Title = "Xóa Đơn Hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Xóa Đơn Hàng</h2>

<main id="main" class="main" style="width:100%">

    <div class="pagetitle">
        <h1>Dashboard</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item active">Dashboard</li>
            </ol>
        </nav>
    </div>
    <section class="section dashboard">
        <div class="row">
            <div class="col-lg-8" style="width:1200px">
                <div class="form-horizontal">
                    <h4>Bạn có chắc chắn muốn xóa đơn hàng này?</h4>
                    <hr />
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.DonHangID)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.DonHangID)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.KhachHang.HoTen)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.KhachHang.HoTen)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.NgayDatHang)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.NgayDatHang)
                        </dd>
                    </dl>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#confirmDeleteModal">Xóa</button>
                            <a href="@Url.Action("Index", "QuanLyDonHang")" class="btn btn-default">Hủy</a>
                        </div>
                    </div>
                </div>

                <!-- Confirmation Modal -->
                <div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <h4 class="modal-title" id="confirmDeleteModalLabel">Xác nhận xóa</h4>
                            </div>
                            <div class="modal-body">
                                Bạn có chắc chắn muốn xóa đơn hàng này không?
                            </div>
                            <div class="modal-footer">
                                @using (Html.BeginForm("XoaDonHang", "QuanLyDonHang", FormMethod.Post))
                                {
                                    @Html.AntiForgeryToken()
                                    @Html.HiddenFor(model => model.DonHangID)
                                    <button type="submit" class="btn btn-danger">Xóa</button>
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
         </div>
    </section>

</main>



