@model IEnumerable<BaiTap.Models.ChiTietKhachHang>

@{
    ViewBag.Title = "DSChiTiet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>DSChiTiet</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<h2>Sua thong tin san pham</h2>
<main id="main" class="main" style="width:100%">

    <div class="pagetitle">
        <h1>Dashboard</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item active">Dashboard</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
        <div class="row">
            <!-- Left side columns  -->
            <div class="col-lg-8" style="width:1200px">

                <div class="row">

                    <!-- Recent Sales -->
                    <div class="col-12">
                        <div class="card recent-sales overflow-auto">

                            <div class="filter">
                                <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                    <li class="dropdown-header text-start">
                                        <h6>Filter</h6>
                                    </li>

                                    <li><a class="dropdown-item" href="#">Today</a></li>
                                    <li><a class="dropdown-item" href="#">This Month</a></li>
                                    <li><a class="dropdown-item" href="#">This Year</a></li>
                                </ul>
                            </div>

                            <div class="card-body">
                                <h5 class="card-title">Recent Sales <span>| Today</span></h5>

                                <table class="table">
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.KhachHangID)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.HoTen)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Email)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.DiaChi)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.SoDienThoai)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.DiemTichLuy)
                                        </th>
                                        
                                    </tr>

                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.KhachHangID)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.HoTen)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Email)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.DiaChi)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.SoDienThoai)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.DiemTichLuy)
                                            </td>
                                            </td>
                                        </tr>
                                    }

                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

</main><!-- End #main -->
