@model IEnumerable<BaiTap.Models.SanPham>

@{
    ViewBag.Title = "Product Comparison";
}

<h2>Compare Products</h2>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#productModal">
    Thêm sản phẩm
</button>

<div id="productList">
    <!-- Dynamically list selected products here -->
</div>

<button type="button" class="btn btn-success" id="compareButton">
    So sánh ngay
</button>
<button type="button" class="btn btn-danger" id="clearButton">
    Xóa tất cả sản phẩm
</button>

<!-- Modal -->
<div class="modal fade" id="productModal" tabindex="-1" role="dialog" aria-labelledby="productModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="productModalLabel">Chọn sản phẩm</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="productSelectionList">
                    @* Dynamically load product list here *@

                    <div class="form-group">
                        @Html.LabelFor(model => model.First().TenSanPham, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <select name="SanPham" class="form-control">
                                @foreach (var item in Model)
                                {
                                    <option value="@item.SanPhamID">@item.TenSanPham</option>
                                }
                            </select>
                            @Html.ValidationMessageFor(model => model.First().TenSanPham, "", new { @class = "text-danger" })
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary" id="addProductButton">Thêm sản phẩm</button>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function() {
        $('#productModal').on('show.bs.modal', function (e) {
            $.ajax({
                url: '@Url.Action("GetProducts", "Products")',
                success: function (data) {
                    $('#productSelectionList').html(data);
                }
            });
        });

        $('#addProductButton').click(function() {
            var selectedProducts = [];
            $('#productSelectionList select option:selected').each(function() {
                selectedProducts.push($(this).val());
            });

            // Add selected products to the comparison list
            var productListHtml = '';
            selectedProducts.forEach(function(productId) {
                productListHtml += '<p>Product ID: ' + productId + '</p>';
            });
            $('#productList').html(productListHtml);

            $('#productModal').modal('hide');
        });

        $('#clearButton').click(function() {
            $('#productList').html('');
        });

        $('#compareButton').click(function() {
            // Implement comparison logic
            alert('Comparison feature coming soon!');
        });
    });
</script>
