@model IEnumerable<BaiTap.Models.ChiTietSanPham>

@{
    ViewBag.Title = "XemChiTiet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<table>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                mã sản phẩm:
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SanPhamID)
            </td>
        </tr>
        <tr>
            <td>
                Màn hinh:
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ManHinh)
            </td>
        </tr>
        <tr>
            <td>
                Hệ điều Hành:
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HeDieuHanh)
            </td>
        </tr>
        <tr>
            <td>
                CameraTruoc:
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CameraTruoc)
            </td>
        </tr>
        <tr>
            <td>
                CameraSau:
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CameraSau)
            </td>
        </tr>
        <tr>
            <td>
                Chip:
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Chip)
            </td>
        </tr>
        <tr>
            <td>
                RAM:
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RAM)
            </td>
        </tr>
        <tr>
            <td>
                Bộ nhớ trong:
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BoNhoTrong)
            </td>
        </tr>
        <tr>
            <td>
                Sim:
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sim)
            </td>
        </tr>
        <tr>
            <td>
                Pin:
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pin)
            </td>
        </tr>
    }
</table>
                            



