@model BaiTap.Models.SanPham

@{
    ViewBag.Title = "Xoa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<main id="main" class="main" style="width:100%">

    <div class="pagetitle">
        <h1>Dashboard</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item active">Dashboard</li>
            </ol>
        </nav>
    </div>
    <section class="section dashboard">
        <div class="row">

            <div class="col-lg-8" style="width:1200px">

                <div class="row">


                    <div class="col-12">
                        <div class="card recent-sales overflow-auto">

                            <div class="filter">
                                <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                    <li class="dropdown-header text-start">
                                        <h6>Filter</h6>
                                    </li>

                                    <li><a class="dropdown-item" href="#">Today</a></li>
                                    <li><a class="dropdown-item" href="#">This Month</a></li>
                                    <li><a class="dropdown-item" href="#">This Year</a></li>
                                </ul>
                            </div>

                            <div class="card-body">
                                <h5 class="card-title">Recent Sales <span>| Today</span></h5>

                                <h3>ban co muon xoa san pham nay khong?</h3>
                                <div>

                                    <hr />
                                    <dl class="dl-horizontal">
                                        <dt>
                                            @Html.DisplayNameFor(model => model.TenSanPham)
                                        </dt>

                                        <dd>
                                            @Html.DisplayFor(model => model.TenSanPham)
                                        </dd>

                                        <dt>
                                            @Html.DisplayNameFor(model => model.Soluong)
                                        </dt>

                                        <dd>
                                            @Html.DisplayFor(model => model.Soluong)
                                        </dd>

                                        <dt>
                                            @Html.DisplayNameFor(model => model.MoTa)
                                        </dt>

                                        <dd>
                                            @Html.DisplayFor(model => model.MoTa)
                                        </dd>

                                        <dt>
                                            @Html.DisplayNameFor(model => model.Gia)
                                        </dt>

                                        <dd>
                                            @Html.DisplayFor(model => model.Gia)
                                        </dd>

                                        <dt>
                                            @Html.DisplayNameFor(model => model.DanhMucID)
                                        </dt>

                                        <dd>
                                            @Html.DisplayFor(model => model.DanhMucID)
                                        </dd>

                                        <dt>
                                            @Html.DisplayNameFor(model => model.HangID)
                                        </dt>

                                        <dd>
                                            @Html.DisplayFor(model => model.HangID)
                                        </dd>

                                        <dt>
                                            @Html.DisplayNameFor(model => model.HinhAnh)
                                        </dt>

                                        <dd>
                                            @Html.DisplayFor(model => model.HinhAnh)
                                        </dd>

                                        <dt>
                                            @Html.DisplayNameFor(model => model.SoLuongDaBan)
                                        </dt>

                                        <dd>
                                            @Html.DisplayFor(model => model.SoLuongDaBan)
                                        </dd>

                                        <dt>
                                            @Html.DisplayNameFor(model => model.TongDoanhThu)
                                        </dt>

                                        <dd>
                                            @Html.DisplayFor(model => model.TongDoanhThu)
                                        </dd>

                                    </dl>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#confirmDeleteModal">Xóa</button>
                                        <a href="@Url.Action("SanPham", "QuanLySanPham")" class="btn btn-default">Hủy</a>

                                    </div>
                                </div>
                            </div>
                            <div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteModalLabel">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                            <h4 class="modal-title" id="confirmDeleteModalLabel">Xác nhận xóa</h4>
                                        </div>
                                        <div class="modal-body"> Bạn có chắc chắn muốn xóa sản phẩm này không? </div>
                                        <div class="modal-footer">
                                            @using (Html.BeginForm("Xoa", "QuanLySanPham", FormMethod.Post))
                                            {
                                                @Html.AntiForgeryToken()
                                                @Html.HiddenFor(model => model.SanPhamID)
                                                <button type="submit" class="btn btn-danger">Xóa</button>
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

</main> End #main
