@{
    ViewBag.Title = "Báo Cáo Doanh Số";
}


<main id="main" class="main" style="width:100%">

    <div class="pagetitle">
        <h1>Dashboard</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item active">Dashboard</li>
            </ol>
        </nav>
    </div>
    <section class="section dashboard">
        <div class="row">
            <div class="col-lg-8" style="width:1200px">
                <h2>Báo Cáo Doanh Số</h2>

                <h3>Tổng Quan</h3>
                <p>Ngày Báo Cáo: @ViewBag.BaoCaoDoanhSo.NgayBaoCao</p>
                <p>Doanh Số: @ViewBag.BaoCaoDoanhSo.DanhSo</p>
                <p>Tổng Đơn Hàng: @ViewBag.BaoCaoDoanhSo.TongDonHang</p>

                <h3>Sản Phẩm Bán Chạy</h3>
                @*<p>Sản Phẩm: @ViewBag.SanPhamBanChay?.TenSanPham</p>
                <p>Số Lượng Bán: @ViewBag.SanPhamBanChay?.ChiTietDonHang.Sum(ct => ct.SoLuong)</p>*@

                <h3>Sản Phẩm Có Doanh Thu Cao Nhất</h3>
                @*<p>Sản Phẩm: @ViewBag.SanPhamDoanhThuCaoNhat?.TenSanPham</p>
                <p>Doanh Thu: @ViewBag.SanPhamDoanhThuCaoNhat?.ChiTietDonHang.Sum(ct => ct.SoLuong * ct.Gia)</p>*@
            </div>
        </div>
        <div class="form-actions no-color">
            <a href="@Url.Action("PhanTichBaoCao","QuanLyDonHang")" class="btn btn-default">Phân tích báo cáo</a>
        </div>
    </section>
</main>
