@model IEnumerable<BaiTap.Models.DanhMuc>

@{
    ViewBag.Title = "DsDanhMuc";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<main id="main" class="main">

    <div class="pagetitle">
        <h1>Dashboard</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item active">Dashboard</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->
    <section class="section dashboard">
        <div class="row">
            <!-- Left side columns tim de thay doi chieu rong cua giao dien ben phai -->
            <div class="col-lg-8" style="width:1200px">

                <div class="row">

                    <!-- Recent Sales -->
                    <div class="col-12">
                        <div class="card recent-sales overflow-auto">

                            <div class="filter">
                                <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                                
                            </div>

                            <div class="card-body">
                                <h5 class="card-title">Danh sach danh muc </h5>

                                <table class="table table-borderless datatable" style="font-size: 14px">
                                    <thead>
                                        <tr>
                                            <th>
                                                @Html.DisplayNameFor(model => model.DanhMucID)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.TenDanhMuc)
                                            </th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(model => item.DanhMucID)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.TenDanhMuc)
                                                </td>
                                                <td>
                                                    @Html.ActionLink("Chi tiết", "HangSX", new { id = item.DanhMucID }) 
                                                    
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

</main><!-- End #main -->