@model List<BaiTap.Models.TaiKhoanKH>

@{
    ViewBag.Title = "Danh sách tài khoản";
}

<h2 class="text-center">Danh sách tài khoản</h2>

<div class="text-center mb-3">
    @Html.ActionLink("Tạo mới tài khoản", "TaoTaiKhoan", null, new { @class = "btn btn-primary" })
</div>

<div class="container mt-3" style="max-width: 800px;">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model[0].TenDangNhap)</th>
                <th>@Html.DisplayNameFor(model => model[0].TrangThai)</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.TenDangNhap)</td>
                    <td>@Html.DisplayFor(modelItem => item.TrangThai)</td>
                    <td>
                        @Html.ActionLink("Sửa", "SuaTaiKhoan", new { id = item.TaiKhoanID }) |
                        @Html.ActionLink("Chi tiết", "ChiTietTaiKhoan", new { id = item.TaiKhoanID }) |
                        @Html.ActionLink("Xóa", "XoaTaiKhoan", new { id = item.TaiKhoanID })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
