@model IEnumerable<BaiTap.Models.SanPham>

<table>
    @foreach(var s in Model)
   {
        <tr>
            <td>
                @Html.LabelFor(ModelItem => s.SanPhamID)
            </td>
            <td>
               @Html.DisplayFor(ModelItem => s.SanPhamID)
            </td>

        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => s.TenSanPham)

            </td>
            <td>
                @Html.DisplayFor(model => s.TenSanPham)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => s.MoTa)
            </td>
            <td>
                @Html.DisplayFor(model => s.MoTa)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => s.Gia)
            </td>
            <td>
                @Html.DisplayFor(model => s.Gia)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => s.Soluong)
            </td>
            <td>
                @Html.DisplayFor(model => s.Soluong)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => s.HinhAnh)
            </td>
            <td>
                @if (!string.IsNullOrEmpty(s.HinhAnh))
                {
                    <img src="@s.HinhAnh" alt="Product Image" width="100" height="100" />
                }
                else
                {
                    <p>Không tìm thấy hình ảnh</p>
                }
            </td>
        </tr>
   }
</table>